* {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans";
  /*
  background-image: url("./assets/bg-cafe.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  */
  background-color: #111315;
  margin: 0;
}
